<template>
  <style>
    input {
      margin-right:0.3rem;
      background: var(--fainter-color);
      border: none;
      padding: 0.2rem 0.4rem;
      font-size:1.1rem;
      color: #dee0f7;
    }
    input[type="number"] {
      width: 4.2rem;
    }
    select {
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      background: var(--fainter-color);
      border: none;
      border-radius: 0;
      padding: 0.2rem 0.4rem;
      font-size:1.1rem;
      color: #dee0f7;
    }
    button {
      background: none;
      float: right;
      font-size: 1.1rem;
      color: var(--faint-color);
      padding: 0.6rem 1rem;
      border: none;
      border-radius: 0;
    }
    button:hover {
      color: var(--primary-color);
      text-shadow: 0 0 0.8rem var(--highlight-color);
    }
    button:active, button:focus {
      outline: none;
      color: white;
    }
    div {
      margin-top:1rem;
      padding: 0.5rem;
      min-width: 5rem;
      max-width: 100%;
      height: calc(100% - 6.2rem);
      background: #dee0f7;
      color: #202020;
      overflow-y: auto;
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text;
    }
  </style>
  <input type="number" min="1" max="10000" value="5"/>
  <select>
    <option value="w">words</option>
    <option value="b">bytes</option>
    <option value="p">paragraphs</option>
    <option value="l">lists</option>
    <option value="j">JSON</option>
  </select>
  <button><copy-component/></button>
  <div></div>
</template>