<template>
  <style>
    input {
      margin-right:0.3rem;
      background: var(--fainter-color);
      border: none;
      padding: 0.2rem 0.4rem;
      font-size:1rem;
      color: #dee0f7;
      float: right;
    }
    input[type="time"] {
      min-width: 8.4rem;
    }
    input[type="date"] {
      width: 8.8rem;
    }
    div {
      margin-top:1rem;
      padding: 0.5rem;
      min-width: 15rem;
      max-width: 100%;
      height: calc(100% - 6.5rem);
      background: #dee0f7;
      color: #202020;
      overflow-y: auto;
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text;
    }
    button {
      background: none;
      float: right;
      font-size: 1.1rem;
      color: var(--faint-color);
      padding: 0.6rem 1rem;
      border: none;
      border-radius: 0;
      margin-top: -0.2em;
      margin-right: -0.2em;
    }
    button:hover {
      color: var(--primary-color);
      text-shadow: 0 0 0.8rem var(--highlight-color);
    }
    button:active, button:focus {
      outline: none;
      color: white;
    }
    @media only screen and (max-width: 400px) {
      input {
        width: 10rem;
      }
      input[type="time"] {
        min-width: 6rem;
        width: 7.3rem;
      }
      input[type="date"] {
        width: 7.5rem;
      }
    }
  </style>
  <span>Std: </span>
  <input id="standardTime" type="time"/>
  <input id="standardDate" type="date"/>
  <br/><br/>
  <span>GMT: </span>
  <input id="gmtTime" type="time"/>
  <input id="gmtDate" type="date"/>
  <br/><br/>
  <span>Unix Epoch: </span>
  <input id="epochTime" type="number" min="0"/>
  <button id="unixCopy"><copy-component/></button>
  <br/><br/>
  <span>Milliseconds: </span>
  <input id="milliTime" type="number" min="0"/>
  <button id="milliCopy"><copy-component/></button>
</template>